.Tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Tabs-labels {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  border-bottom: #DDD 1px solid;
  overflow: visible;
}

.Tabs-label {
  width: 120px;
  height: 19px;
  line-height: 19px;
  margin-right: 7px;
  padding: 10px 30px 10px 15px;
  background-color: #FFF;
  box-shadow: inset 0 -9px 7px -7px #DDD;
  border: #DDD 1px solid;
  border-bottom: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #BBB;
  transition: color 300ms ease;
}

.Tabs-label:first-child {
  width: 45px;
  padding: 10px 15px;
}

.Tabs-label i {
  color: #BBB;
  opacity: 0;
  transition: opacity 300ms ease, color 300ms ease;
  position: absolute;
  right: 12px;
  top: 11px;
  cursor: pointer;
}

.Tabs-label i:hover {
  color: crimson;
}

.Tabs-label:hover i {
  opacity: 1;
}

.Tabs-label.active {
  color: #666;
  box-shadow: none;
  height: 20px;
  margin-bottom: -1px;
  cursor: default;
}

.Tabs-contents {
  flex-grow: 1;
  background-color: #FFF;
  border: #DDD 1px solid;
  border-top: none;
}

.Tabs-content {
  display: none;
}

.Tabs-content.active {
  display: block;
}
